p {
	text-align:center;
	}
	
nav {
	float:left;
	padding:10px;
	padding-left:-10px;
    margin:10px;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color:grey;
    font-size:15px;
}

nav ul{
	list-style-type:none;
}

dt {
	text-decoration:underline;
	}

dd {
	text-align:center;
	}